*{
    background-color: rgb(1, 6, 42);
    color: orange;
}

section {
  padding: 70px 0px;
}
.single__product{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(1, 6, 42);


}
.single__product:hover{
    box-shadow: 5px 5px 10px -5px orange;
}

.product__content{
    padding: 0px 20px;
    padding-bottom: 15px;

}
.product__content h6{
    color: orange;
    text-align: center;
}
.rating{
    margin-bottom: 10px;
}
.rating span i{
    color: white;
}
.price span{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}